Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*

# Turn off specific checks that are too noisy or not applicable
HeaderFilterRegex: '^(src|include)/.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
WarningsAsErrors: ''
